@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #161815;
}

.section-padding{
    padding-top: 60px;
    padding-bottom: 60px;
}

.carousel-item {
    height: 80vh;
    min-height: 300px;
    transition: transform 0.5s ease-in-out;
}

.carousel-caption{
    bottom: 200px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-dark .navbar-brand{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-ligth .navbar-brand:focus, .navbar-ligth .navbar-brand:hover{
    color: #000;
}

.w-100{
    height: 100vh;
}

.navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

/* Contenedor principal de la sección */
.about {
    padding: 30px 0; /* Espaciado alrededor */
}

/* Contenedor que tiene el fondo verde */
.about-container {
    background-color: #194b644c;
    padding: 30px; /* Espaciado dentro del contenedor */
    border-radius: 10px; /* Bordes redondeados opcionales */
    margin: 30px;
}

/* Imagen más grande */
.about-img img.large-img {
    width: 100%; /* Imagen ocupa el 100% de su contenedor */
    max-height: 850px; /* Aumenta la altura máxima de la imagen */
    object-fit: cover; /* Asegura que la imagen se ajuste bien y no se distorsione */
    height: auto; /* Deja que la imagen crezca proporcionalmente */
    border-radius: 20px;
}

/* Estilo para el título */
.about-text h2 {
    font-size: 2.2rem; /* Tamaño de fuente grande para el título */
    margin-bottom: 20px;
}

/* Estilo para el párrafo */
.about-text p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

/* Centrado de texto */
.text-center {
    text-align: center;
}

/* Estilos del botón */
.btn-primary {
    background-color: #007bff; /* Color del botón */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.btn-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    align-items: center; /* Centra el botón verticalmente */
    height: 100%; /* Asegura que ocupe todo el alto disponible del contenedor */
    margin-top: 20px; /* Espaciado superior del botón */
}

/* Estilo al pasar el mouse sobre el botón */
.btn-primary:hover {
    background-color: #0056b3;
}

/* Sección Misión - Nueva clase para evitar conflicto */
.about-mision {
    padding: 5px 0; /* Reduce el espaciado alrededor para que no esté tan separado */
}

/* Estilos del contenedor de la imagen y el texto */
.about-mision-container {
    background-color: #194b644c;
    padding: 50px; /* Espaciado dentro del contenedor */
    border-radius: 20px; /* Bordes redondeados opcionales */
    margin: 30px; /* Espaciado superior e inferior reducido */
}

/* Imagen a la derecha, manteniendo el tamaño máximo */
.about-img-mision img {
    width: 100%; /* Imagen ocupa el 100% de su contenedor */
    max-height: 500px; /* Limitar altura para que no sea tan grande */
    object-fit: cover; /* Asegura que la imagen se ajuste bien y no se distorsione */
    height: auto;
    border-radius: 20px;
}

/* Estilo para el texto */
.about-text-mision h2 {
    font-size: 2.2rem; /* Tamaño de fuente grande para el título */
    margin-bottom: 20px;
}

/* Estilo para el párrafo */
.about-text-mision p {
    font-size: 1.25rem;
    margin-bottom: 50px;
}

/* Centrado de texto */
.text-center {
    text-align: center;
}

/* Estilo para la fila para asegurarse de que se vean en una línea */
.row {
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
    .carousel-item {
        height: 70vh;
    }
    .w-100 {
        height: 70vh;
    }
    .carousel-caption {
        bottom: 125px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption p{
       width: 100%;
       line-height: 1.5;
       font-size: 12px; 
    }
    .about-text {
        padding-top: 50px;
    }
    .card {
        margin-bottom: 30px;
    }
    .section-padding{
        padding-top: 0px; 
        padding-bottom: 20px;
    }
    .about-mision-container {
        margin-top: 0; /* Eliminar cualquier margen superior adicional */
    }
    .about-img-mision img {
        max-height: 400px; /* Ajusta la altura de la imagen para pantallas pequeñas */
        margin-bottom: 0px;
    }
    .about-text-mision {
        margin-top: 20px; /* Si el texto tiene demasiado margen superior, ajusta aquí */
    }
    .ips {
        margin-top: 0px;
        flex-direction: column-reverse; /* En pantallas pequeñas, la fila se convierte en columna */
    }
}

/* Ajustes para dispositivos medianos */
@media (min-width: 768px) and (max-width: 1024px) {
    .ips {
        flex-direction: column-reverse; /* Asegura que las columnas estén en fila (no columna-reverse) */
    }

    .about-img-mision img {
        max-height: 350px; /* Ajusta la altura máxima de la imagen en dispositivos medianos */
        margin-bottom: 20px; /* Añade algo de espacio debajo de la imagen */
    }
}

#loginBtn{
    padding: 5px 10px;
}

#Nombre{
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 10px;
}
#Correo{
    padding: 5px;
}

#Contacto{
    margin-bottom: -30px;
}




#loginFormContainer, #registerFormContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2); /* Fondo más transparente */
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    z-index: 1000;
    width: 350px;
    max-width: 90%;
    animation: slideIn 0.3s ease-out;
    backdrop-filter: blur(15px); /* Aumento del desenfoque */
    border: 2px solid black; /* Bordes negros */
}

@keyframes slideIn {
    0% {
        transform: translate(-50%, -60%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
    animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Estilo del botón de cerrar */
button.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

button.btn-close:hover {
    color: #004085; /* Tono más oscuro cuando pasa el mouse */
}

/* Estilos de los botones */
button.btn-success {
    background-color: #004085; /* Botón de "Ingresar" más oscuro que #0056b3 */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    width: 100%; /* Centrado del botón */
    margin-top: 20px; /* Espacio superior */
}

button.btn-success:hover {
    background-color: #003366; /* Tono más oscuro al hacer hover */
    transform: translateY(-5px); /* Elevación al pasar el mouse */
}

/* Estilo del contenedor del input */
.input-container {
    position: relative;
    margin-bottom: 30px; /* Aumenta el espacio entre los inputs */
}

/* Estilos de los inputs */
input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 12px 12px 12px 12px;
    border: .1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 18px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo transparente con poco blanco */
    backdrop-filter: blur(10px); /* Fondo borroso */
    transition: transform 0.2s ease, border-color 0.2s ease;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border-color: #004085;
    outline: none;
    transform: translateY(-3px); /* Elevación al enfocar */
}

/* Estilos de los labels dentro del input */
.form-label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 18px;
    color: white;
    pointer-events: none;
    transition: 0.3s;
}

/* Elevar el label cuando el input está enfocado o tiene texto */
input[type="text"]:focus + .form-label, input[type="password"]:focus + .form-label, input[type="email"]:focus + .form-label,
input[type="text"]:valid + .form-label, input[type="password"]:valid + .form-label, input[type="email"]:valid + .form-label {
    top: -18px;
    color: #004085; /* Color de label cuando está elevado */

}
.img-area{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.img-area {
    height: 200px; 
    overflow: hidden; 

/* Título centrado */
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px; /* Aumento del tamaño del título */
    color: white; /* Color del título blanco */
}

/* Estilo para el checkbox "Recuerdame" */
.form-check-label {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    color: white; /* Color blanco para el texto */
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Estilos para el enlace de "Olvidaste la contraseña?" */
.forgot-password {
    font-size: 14px;
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.forgot-password:hover {
    color: #004085; /* Color al pasar el mouse */
}

/* Estilo para el enlace de "Registrarte" */
.register-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.register-link a:hover {
    color: #004085; /* Color al pasar el mouse */
}

/* Estilo para el enlace "Ya tengo cuenta" */
.login-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    display: block;
    color: white;
}

.login-link:hover {
    color: #004085; /* Color al pasar el mouse */
}
